<launch>

<!-- <node pkg="tf" type="static_transform_publisher" name="odom" args="0 0 0 0 0 0 1 map odom 50" /> -->
<!-- <node pkg="tf" type="static_transform_publisher" name="integrazione_odom" args="0 0 0 0 0 0 1 map integrazione_odom 50" /> -->

<node pkg="rviz_publishing" type = "rviz_publisher" name = "rviz_publisher"/>
<node pkg="rviz_publishing" type = "rviz_publisher_scoutodom" name = "rviz_publisher_scoutodom"/>
<node pkg="rqt_tf_tree" type = "rqt_tf_tree" name = "rqt_tf_tree"/>



<node type="rviz" name="rviz_comparazione" pkg="rviz" args="-d $(find rviz_publishing)/config/odom_eulero_rk.rviz"/>


</launch>

